*{margin: 0;padding: 0;}
.clear{
	clear: both;
}
html, body{
	height: 100%;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.status-text {
	display: none;
}
.page-wrapper {
	height: 100vh;
}
.bg-white {
	background: white;
}
.form-login{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -100px;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,.5);
	padding: 10px;
}
.form-login form input{
	width: 200px;
	height: 35px;
	padding: 5px;
	box-sizing: border-box;
	margin: 10px 0;
}
.header{
	background: #333;
	padding: 15px;
	position: relative;
	z-index: 9;
	
}
.header .left{
	float: left;
}
.header .right{
	float: right;
}
.header .left .site-name{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}
.header .right .info{
	display: inline-block;
	vertical-align: top;
	color: #fff;
	font-size: 18px;
}
.header .right a{
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	margin-left: 20px;
}
.content{
	position: relative;
	/*max-width: 920px;*/
	padding: 30px;
	/*margin-left: 200px;*/
	box-sizing: border-box;
}
.left-col{
	padding: 0;
	background: #333;
}
.left-col ul li{
	border-top: 1px solid rgba(255,255,255,.5);
}
.left-col ul li:first-child{
	border: none;
}
.left-col ul li a{
	display: block;
	text-decoration: none;
	padding: 10px;
	font-size: 14px;
	line-height: 14px;
	color: #fff;
}
.left-col ul li a:hover{
	background: rgba(0,0,0,.5);
}
.users h2{
	margin-bottom: 10px;
}
.users tbody tr td {
	vertical-align: middle;
}
.users .glyphicon-remove {
	cursor: pointer;
	color: red;
}
.users .glyphicon-pencil {
	cursor: pointer;
	color: black;
	border: none;
	outline: none;
	background: none;
}
.tests .glyphicon-remove {
	cursor: pointer;
	color: red;
}
.tests .glyphicon-pencil {
	cursor: pointer;
	color: black;
	border: none;
	outline: none;
	background: none;
}
.tests .glyphicon-plus {
	cursor: pointer;
	color: green;
}
.questions .modal-dialog{
	width: 500px;
}
.questions .glyphicon-remove {
	cursor: pointer;
	color: red;
}
.questions .glyphicon-pencil {
	cursor: pointer;
	color: black;
	border: none;
	outline: none;
	background: none;
}
.questions .glyphicon-plus {
	cursor: pointer;
	color: green;
}

.questions .add-question-form .type-answer-title,
.questions .add-question-form .form-group .title{
	font-weight: 700;
}

.questions .add-question-form .type-answer{
	font-weight: 400;
}
.questions .form-group.radio,
.questions .form-group.check,
.questions .form-group.word{
	display: none;
}
.questions .form-group .input-group input[type='radio']{
	position: relative;
	margin-left: 0;
}
.questions .form-group .input-group{
	margin: 10px 0;
}
.navbar-collapse {
	padding: 0;
}

@media (min-width: 769px) {
	.left-col {
	    position: fixed;
	    top: 0;
	    /*padding-top: 55px;*/
	    bottom: 0;
	    left: 0;
		float: left;
		width: 200px;
		min-height: 100%;
	}
	.content {
		width: calc(100% - 200px);
		margin-left: 200px;
	}
	.header {
		margin-left: 185px;
	}
}
.testing .list-group a{
	margin: 10px 0;
	border-radius: 5px;
}
.q.header-h2 {
	position: relative;
	margin-bottom: .5rem;
	min-height: 33px;
}

.q.header-h2 h2 {
	font-size: 1.5rem;
	margin-bottom: 0;
	padding-left: 4rem;
	color: #e91e63;
	font-weight: bold;
}

.q.header-h2 h2::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 3.5rem;
	height: 3.5rem;
	background: #e91e63;
}

.q.header-h2 h2::after {
	content: "";
	position: absolute;
	left: 0;
	top: 3.5rem;
	width: 100%;
	height: .25rem;
	background-color: #e91e63;
}
.test-data .none {
	display: none;
}
.test-data .btn{
	border-radius: 0;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	z-index: 1;
	transition: all 0.4s ease 0s;
	background: none;
}
.test-data .btn:before{
	content: "";
	width: 210%;
	height: 210%;
	position: absolute;
	top: -120px;
	left: 30px;
	transform: skew(67deg);
	z-index: -1;
	transition: all 0.4s ease 0s;
}
.test-data .btn:hover:before{
	top: -20px;
	left: -52px;
}
.test-data .btn.red{
	border: 1px solid #ff3939;
	color: #ff3939;
}
.test-data .btn.red:hover{
	color: #fff;
}
.test-data .btn.red:hover:before{
	background: #ff3939;
}